@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

$abs: absolute;
$rel: relative;
$font: 'Langar',
cursive;
$color: #011627;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 100%;
    display: block;
}

.block {
    display: block;
    width: 100%;
    max-width: 100%;
}

.content-1 {
    width: 60%;
    margin: 0 auto;
    padding-top: 30px;
}

.col-1 {
    width: 100%;
    max-width: 100%;
    background-color: #f2f2f2;
}

.col-2 {
    width: 100%;
    max-width: 100%;
    background-color: $color;
    padding-top: 20px;
    padding-bottom: 20px;
}

.info {
    width: 200px;
    margin-left: -20px;
    margin-top: 10px;
}

.profile-img {
    width: 100%;
    max-width: 100%;
}

.txt {
    font-size: 14px;
    font-family: $font;
    text-align: center;
    margin-top: 10px;
    color: $color;
}

.email {
    font-size: 11px;
    font-family: $font;
    color: $color;
}

.link {
    font-size: 11px;
    font-family: $font;
    color: $color;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

i {
    margin-top: 10px;
}

p {
    font-size: 12px;
    color: $color;
    font-family: $font;
}

.para {
    margin-top: 20px;
}

span {
    font-family: $font;
    color: $color;
}

.script {
    margin-top: 20px;
    padding-bottom: 30px;
}

.script::before {
    content: '<script src="razvan.js"></script>';
    font-size: 13px;
    font-family: $font;
    font-weight: 300;
}

.fa-envelope-o {
    margin-left: -5px;
}

.fa-phone-square {
    margin-left: -4px;
}

.fa-linkedin-square {
    margin-left: -4px;
}

.fa-github {
    margin-left: -4px;
    margin-bottom: 15px;
}

.location {
    padding-left: 10px;
}

.align {
    padding-left: 5px;
}

.about-me {
    border: $color 3px solid;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    margin-left: 19%;
}

.square-1 {
    display: flex;
    border: white 1px solid;
    width: 170px;
    height: 40px;
    position: $rel;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.js-title {
    color: gold;
    font-family: sans-serif;
    margin-right: 15px;
    font-size: 25px;
}


.text-square-1 {
    color: #ffffff;
    margin-top: 5px;
    margin-right: 15px;
    font-size: 16px;
    font-family: sans-serif;
}

.x-1 {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 25px;
}

.square-2 {
    border: white 1px solid;
    width: 90%;
    margin-left: 10px;
    margin-top: 2px;
    padding-left: 15px;
    padding-right: 15px;
    position: $rel;
    line-height: 1.5;
}

.education {
    color: #ffffff;
    margin-top: 20px;
    font-family: sans-serif;
}

.span-education {
    color: gold;
    font-family: sans-serif;
}

.work-experience {
    color: #ffffff;
    font-family: sans-serif;
}

.span-work-experience {
    color: gold;
    font-family: sans-serif;
}

.language-skills {
    color: #ffffff;
    font-family: sans-serif;
}

.span-language-skills-en {
    color: gold;
    font-family: sans-serif;
}

.span-language-skills-en::after {
    content: "";
    display: inline-flex;
    height: 10px;
    width: 100px;
    background-color: #bf4916;
    border-radius: 15px;
    margin-left: 19px;
}

.span-language-skills-ro {
    color: gold;
    font-family: sans-serif;
}

.span-language-skills-ro::after {
    content: "";
    display: inline-flex;
    height: 10px;
    width: 120px;
    background-color: green;
    border-radius: 15px;
    margin-left: 5px;
}


.skills {
    color: #ffffff;
    font-family: sans-serif;
}

.span-skills {
    color: gold;
    font-family: sans-serif;
    margin-left: 15px;
}

.project {
    color: #ffffff;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.project-github a {
    color: gold;
    text-decoration: none;
}

.project-github a:hover {
    text-decoration: underline;
}

@media screen and(min-width: 375px) {
    .content-1 {
        width: 40%;
    }

    h2 {
        margin-left: 17%;
    }

    .square-2 {
        margin-left: 30px;
    }

    .square-1 {
        margin-left: 30px;
    }
}

@media screen and(min-width: 450px) {
    .content-1 {
        width: 40%;
    }

    h2 {
        margin-left: 19%;
    }

    .info {
        width: 330px;
    }
}

@media screen and(min-width: 768px) {
    .col-1 {
        width: 35%;
    }

    .col-2 {
        width: 65%;
    }

    .container {
        display: flex;
    }

    h2 {
        margin-left: 4%;
    }

    .info {
        width: 200px;
    }

    .span-language-skills-en::after {
        content: "";
        display: inline-flex;
        margin-left: 19px;
    }
}

@media screen and(min-width: 1024px) {
    .txt {
        font-size: 20px;
    }

    .location {
        font-size: 20px;
    }

    .email {
        font-size: 14px;
    }

    .number {
        font-size: 20px;
    }

    .link {
        font-size: 15px;
    }

    .info {
        width: 250px;
    }

    p {
        font-size: 16px;
    }

    .script::before {
        font-size: 15px;
    }

    h2 {
        margin-left: 10%;
    }

    .span-language-skills-en::after {
        content: "";
        display: inline-flex;
        margin-left: 24px;
    }
}

@media screen and(min-width: 1440px) {
    .fa-map-marker::before {
        font-size: 30px;
    }

    .fa-envelope-o::before {
        font-size: 30px;
    }

    .fa-phone-square::before {
        font-size: 30px;
    }

    .fa-linkedin-square::before {
        font-size: 30px;
    }

    .fa-github::before {
        font-size: 30px;
    }

    .fa-envelope-o {
        margin-left: -7px;
    }

    .fa-phone-square {
        margin-left: -5.5px;
    }

    .fa-linkedin-square {
        margin-left: -5.5px;
    }

    .fa-github {
        margin-left: -5.5px;
        margin-bottom: 30px;
    }

    .col-1 {
        width: 25%;
    }

    .col-2 {
        width: 75%;
    }

    .info {
        width: 250px;
    }

    .square-1 {
        margin-left: 50px;
    }

    .square-2 {
        margin-left: 50px;
    }
}

@media screen and(min-width: 1550px) {
    .info {
        width: 290px;
    }
}

@media screen and(min-width: 1920px) {
    .info {
        width: 390px;
    }

    .link {
        font-size: 14px;
    }

    h2 {
        margin-left: 9%;
    }

    .about-me {
        padding-left: 25px;
        padding-right: 25px;
    }

    .square-2 {
        width: 93%;
    }
}